<%- include("./partial/header.ejs");%>
<!-- ...........chat-container start........... -->
<div id="chat-container">
<!-- ...........search-container start........... -->
  <div id="search-container">
    <input type="text" placeholder="Search" />
  </div><!-- ......search-container End........... -->
<!-- ........conversation-list start................... -->

<div id="conversation-list">

    <!-- conversation creator is same to logged in user, so we need to show participant name and avatar -->
    
      <div class="conversation">
        
        <img src="./images/user1.png" />
        
          <img src="./images/nophoto.png" />
        
        <div class="title-text">Bangladesh</div>
        <div class="conversation-date">Bangladesh</div>
      </div>
    
      <div class="conversation">
    
        <img src="./images/user2.png" />
  
          <img src="./images/nophoto.png" />
      
        <div class="title-text">Bangladesh</div>
        <div class="conversation-date">Bangladesh</div>
      </div> 
  <!-- show no conversation placeholder image for 0 conversations -->
    <div class="nothing"><img src="#"></div>
  
</div><!-- .....conversation-list End.............. -->



<!-- ....new-message-container start............. -->
<div class="new-message-container" onclick="openModal()">
  <a href="#">+</a>
</div><!-- ....new-message-container End............. -->


<!-- ....chat-title start............. -->
<div id="chat-title">
  <span id="conversation-partner"></span>
  <img src="./images/trash.png" alt="Delete Conversation" />
</div><!-- ....chat-title End............. -->


<!-- placeholder div if no messages are in messages area -->
<div id="chat-message-list">
  <div class="nothing">select a conversation</div>
</div><!-- ...........placeholder div End........... -->

<!-- send message form -->
<form id="chat-form" method="post" enctype="multipart/form-data">
  <label for="attachment"><img src="./images/attachment.png" alt="Add Attachment" /></label>
  <input type="file" multiple name="attachment" class="hide" id="attachment" />
  <input type="text" name="message" placeholder="Type a message" autocomplete="off" />
</form><!-- send message form end -->


</div>
<!-- ...........chat-container End........... -->
<%- include('./partial/add-conversation-modal.ejs'); %>
</body>
</html>